* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: rgb(234, 232, 232);
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

/* ------------------gradebook------------------------ */

.gradebook {
  width: 100%;
  min-width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: white;
}

.gradebook-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 4px;
  background-color: rgb(251, 250, 249);
}

.gradebook-title {
  font-size: 2.5rem;
  color: rgb(69, 69, 69);
}

/* ------------input areas-------------- */
.newgrade-input-wrapper,
.new-student-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
}

.new-grade-input,
.new-student-input {
  padding: 0.3rem;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

.new-grade-input:focus,
.new-student-input:focus {
  outline: none;
  border: 1px solid rgb(97, 197, 164);
}

.new-grade-btn,
.new-student-btn {
  width: 8rem;
  padding: 0.3rem 1rem;
  color: rgb(97, 197, 164);
  background-color: rgba(60, 179, 114, 0.08);
  border: 2px solid mediumaquamarine;
  border-radius: 4px;
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.new-grade-btn:not(:disabled):hover,
.new-student-btn:not(:disabled):hover {
  color: rgb(58, 177, 137);
  background-color: rgba(60, 179, 114, 0.15);
  border: 2px solid rgb(58, 177, 137);
}

.new-grade-btn:disabled,
.new-student-btn:disabled {
  color: rgba(138, 200, 179, 0.4);
  border: 2px solid rgba(135, 204, 181, 0.3);
  cursor: default;
}

/* -------tables-------- */
i {
  pointer-events: none;
}

table {
  border-collapse: collapse;
  color: rgb(84, 84, 84);
}

th,
td {
  width: 25%;
  text-align: center;
  border: 1px solid rgb(226, 226, 226);
}

tr:hover {
  background-color: hsl(60, 10%, 98%);
}

th {
  padding: 0.35rem 1rem;
  text-wrap: nowrap;
  background-color: rgb(251, 250, 249);
}

/* ------students table------ */
.students-table {
  width: 100%;
  background-color: white;
}

.edit-btn {
  height: 2.3rem;
  width: 100%;
  padding: 0.3rem 1rem;
  color: rgb(255, 182, 48);
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 4px;
  text-wrap: nowrap;
  cursor: pointer;
}

.edit-btn:hover {
  color: orange;
  background-color: rgb(255, 246, 230);
  border: 2px solid orange;
}

.delete-btn i {
  font-weight: 100;
}

.delete-btn {
  height: 2.3rem;
  width: 100%;
  padding: 0.3rem 1rem;
  color: rgb(255, 133, 147);
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  color: rgb(255, 104, 122);
  background-color: rgb(255, 243, 245);
  border: 2px solid rgb(255, 104, 122);
}

/* ----------------popup------------ */
.popup-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(34, 34, 82, 0.3);
}

.grades-popup {
  width: 30rem;
  height: 35rem;
  max-height: 35rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem;
  color: rgb(69, 69, 69);
  background-color: white;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(51, 51, 51, 0.3);
}

/* ---close button--- */
.close-popup-btn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.fa-circle-xmark {
  font-size: 1.3rem;
  color: rgb(255, 104, 122);
}

.close-popup-btn:hover > .fa-circle-xmark {
  font-weight: 700;
  color: rgb(255, 104, 122);
}

/* ----student name & average grade---- */
.popup-avg-area,
.popup-name-area {
  display: flex;
  gap: 1rem;
  align-self: flex-start;
}

.popup-name-field {
  font-weight: 700;
  font-size: 1.2rem;
  color: rgb(38, 38, 38);
}

.popup-avg-field {
  font-weight: 700;
  color: rgb(38, 38, 38);
}

/* ----popup input---- */
.newgrade-input-wrapper {
  width: 80%;
  justify-content: flex-end;
  gap: 0.3rem;
  margin-top: 1rem;
}

.new-grade-input {
  width: 3.3rem;
  -moz-appearance: textfield;
}
.new-grade-input::-webkit-outer-spin-button,
.new-grade-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.new-grade-input::placeholder {
  font-size: 0.8rem;
}

.new-grade-btn {
  padding: 0.2rem;
  width: fit-content;
}

/* --------grades table-------- */
.grades-table-wrapper {
  flex: 1;
  width: 20rem;
  margin: 1.2rem 0;
  border: 1px solid rgb(238, 238, 238);
  overflow-y: auto;
  scrollbar-width: thin;
}

.student-grades-table th,
.student-grades-table td {
  border: none;
}

.student-grades-table th {
  position: sticky;
  top: 0;
}

.student-grades-table tbody tr {
  border-bottom: 1px solid rgb(243, 243, 243);
}

/* ---scrollbar--- */
div::-webkit-scrollbar {
  width: 8px;
}
div::-webkit-scrollbar-track {
  background: rgb(236, 236, 236);
}
div::-webkit-scrollbar-thumb {
  background: rgb(179, 168, 202);
}
div::-webkit-scrollbar-thumb:hover {
  background: rgb(199, 190, 217);
}

/* ------------------------------- */
.sortable {
  cursor: pointer;
}

.sortable:hover {
  color: orange;
}

.sortable::after {
  content: "\f0dc";
  font-family: "Font Awesome 5 Free";
  font-size: 0.8rem;
  color: rgba(84, 84, 84, 0.5);
  position: relative;
  left: 5px;
}

.sortable.ascending,
.sortable.descending {
  color: orange;
}

.sortable.ascending::after {
  content: "\f0de";
  color: orange;
}

.sortable.descending::after {
  content: "\f0dd";
  color: orange;
}

.hide {
  display: none;
}
